h1,h2 {
    margin: 0.4em 0;
}

h1 { 
    font-family: Playfair Display;
    font-weight: 700; 
    color: white;
    font-size: 30px;
}

h2 {
    font-family: Lato;
    font-weight: 200;
    font-size: 22px;
    color: whitesmoke;
}

.img-fluid{
    height:auto;
}

.contact-button{
    font-size: 18px;
}

.con-section{
    padding: 25px 0;
    display: flex;
}

.social-links{
    color: black;
    text-decoration: none;
}

span.cursor{
    animation: blink 1s infinite;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover{
    color: #d3c48d;
}

.typewrite{
    
}
