@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Playfair+Display:wght@400;700&family=Roboto&display=swap');

.brand-title{
    font-family: Playfair Display;
    font-weight: 700;
}

.nav-item{
    font-family: Lato;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 1px;
}

.nav-link{
    color: white!important;
}

.nav-link:hover{
    color: #d3c48d!important;
}


.hkindex{
    border-top: 10px;
    border-color: black;
    height: auto;

}

.bg-dark{
    background-color: black!important;
}

.btn-dark{
    background-color: black!important;
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 0px!important;
}

.btn-dark:hover{
    background-color: white!important;
    color: black;
}

a.btn-dark{
    color: white;
}

a.btn-dark:hover{
    text-transform: none;
}


.btn-secondary{
    background-color: white!important;
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 0px!important;
    color: black;
}

.btn-secondary:hover{
    color: black!important;
}

a.btn-secondary{
    color: black;
}

a.btn-secondary:hover{
    text-transform: none;
}

#recommend-section{
    padding: 25px 0;
}

.section-heading{
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 45px;
}


.card{
    border-color: #d3c48d;
    background: white;
    border-radius: 0;
}

.card-body{
    font-family: Lato!important;
    font-weight: 400;
}

#landing-section{
    background: black;
}

.blockquote{
    font-family: Playfair Display;
}

.blockquote-footer{
    font-family: Lato;
}

.source-profile{
    width:60px;
    border: 2px solid #d3c48d;
    border-radius: 50%;
}

.source-info{
    font-size: 0.875rem;
}

.source-name, .source-title{
    font-family: Lato;
    font-weight: 400;
}

.headline{
    font-family: Playfair Display;
    font-weight: 700;
}

.subheadline{
    font-family: Lato;
    font-weight: 400;
}

.divider{
    color: black;
    border-color: black;
    border: 5px;
}
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  

.page-footer{
    background-color: black;
}

h6{
    font-family: Lato;
    color: white;
}