{% set active_page = "about" %}
{% extends "base.html" %}

{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja</a></small>
</div>
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title" href="/">Harjeet Khanduja</a>
{% endblock %}

{% block content %}
<div class="about">
  <div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h2 class="aboutus-title d-sm-none">About Harjeet</h2>
                <br><br>
                <p class="aboutus-text">Harjeet is an International Speaker, Writer, Poet, Visionary, Influencer and a HR Leader.</p>
                <p class="aboutus-text">He has set multiple green field projects and has handled human resources for large multinational organizations in various geographies like India, The United States & Canada.</p>
                <p class="aboutus-text">Harjeet’s experience spans a range of industry sectors that include Automotive, Manufacturing, Pharma, Alternative Energy, IT-ITES, Telecom, Digital, Healthcare and Retail and has worked with Business Empires like Tata, Reliance and Piramal. He is currently working as the Vice President HR at Reliance Jio.</p>
                <a href="https://bit.ly/hk_bio" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD BIO</a>
                <a href="https://bit.ly/hkmedia_kit" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD MEDIA KIT</a>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <img class="img-fluid img-set" src="{{ url_for('static', filename = 'img/about/about.jpg') }}" alt="Harjeet Khanduja, The Common Man">
            </div>
        </div>

        <div class="row" id="row-settings1"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Career & Education</h2>
                <p class="aboutus-text">Harjeet is an alumnus of Indian Institute of Technology, Roorkee, where he was awarded the Thomson Medal in 1996. He was also the founder of the official campus media body of IIT Roorkee, Watch Out! in 1993. He completed his management education at INSEAD.<br><br>Harjeet's acquired skills are people psychology, technology, organization design, people strategy, problem solving and writing.<br><br>Harjeet is a certified practitioner of SAP HCM, Six Sigma, Executive Coaching, OKRs, Design Thinking, Predictive Index, ISO 9000, ISO 27000, Insights wheel, HIPAA, Value Engineering, Kaizen and 5S.<br><br>He has also filed 3 patents in the area of HR Technology, 2 of which have been published.</p>
                <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">VIEW HARJEET'S PATENTS</a>
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_edu.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings2"> 
            <div class="col-md-6 col-sm-12 order-md-4">
                <h2 class="aboutus-title">Awards & Associations</h2>
                <p class="aboutus-text">Harjeet has won the Nasscom Diversity Award 3 times in a row for the Conjoin Group, resulting in him becoming the co-chair of NASSCOM Diversity Committee. Harjeet has been conferred with Global Learning Award by World HRD Congress in 2012, HR Leadership Award in 2012, Pride of Nation Award - Best CHROs in Asia in 2017, HR Personality of the Year in 2018, Top 25 HR Influencers, Top 100 HR Minds, Top 50 HR Tech Leaders in 2019. He has also been included as a part of the Top 100 Global Thought Leaders by PeopleHum in 2021.</p>
                <p class="aboutus-text">Harjeet has been a LinkedIn Power Profile, Global Digital Ambassador, Guest faculty at IIM Ahmedabad and NMIMS. Harjeet was also featured as top 10 speakers of India by SpeakIn in 2019.</p>
                <p class="aboutus-text">Harjeet is member of governing council of Federation of World Academics, advisory board of blogger alliance and CII HR and IR committee. He is associated with NGOs like Council of Technical Scholars and Anuthi (focused on education of the disabled).</p>
            </div>
            <div class="col-md-6 col-sm-12 order-md-12">
                <img src="{{ url_for('static', filename = 'img/about/about_amitabh.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row" id="row-settings3"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Keynotes & Associations</h2>
                <p class="aboutus-text">Harjeet has delivered several TEDx talks and has spoken at various IIMs and IITs. Harjeet has been keynote speaker in various national and international HR conferences.</p>
                <p class="aboutus-text">Harjeet speaks on variety of topics including HR, Leadership, Technology, Economics and Entrepreneurship.</p>
                <p class="aboutus-text">He conducts master classes for top Management and Engineering colleges including IITs and IIMs.</p>
                <a href="https://www.youtube.com/playlist?list=PLxPSlfDT47twd-rLE9guWKDeFxX0rnfcs" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">WATCH HIS TEDx TALKS HERE!</a>
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_ted.png') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings4" style="padding-bottom: 0; padding-top: 30px; margin-bottom: 0; background-color: #e0f5ff;"> 
          <div class="col-md-6 col-sm-12 order-md-4">
              <h2 class="aboutus-title">Hasya Kavita</h2>
              <p class="aboutus-text">Harjeet had a keen interest in performing at Hasya Kavi Sammelans and radio shows from an early age. Harjeet performed on television for the first time in 1997 on Doordarshan, under the moniker of Sardar Tuktuk. In 1997, he also won the poetry reality game show, हंसगोला, hosted by Arun Gemini.<br><br>In his early years, he also contributed to various hindi poetry books, such as हंगामा एक्सप्रेस (Hungama Express), हंसता खिलखिलाता हास्य कवि सम्मेलन (Hansta Khilkhilata Hasya Kavi Sammelan), and हास्य कवियों की व्यंग्य बौछार (Hasya Kaviyon ki vyangya bauchhar). He has also been a long-time contributing writer for Anubhuti, a hindi poetry website.</p>
          </div>
          <div class="col-md-6 col-sm-12 order-md-12">
              <img src="{{ url_for('static', filename = 'img/about/about_iit.jpg') }}" alt="Harjeet at IIT Roorkee Hindi Diwas, 1993" class="img-fluid">
          </div>
      </div>
      <div class="row" id="row-settings4" style="padding-top: 0; background-color: #e0f5ff;"> 
        <div class="col-md-6 col-sm-12 order-md-12">
            <br><br>
            <p class="aboutus-text">He was a part of multiple episodes of the famous Hasya Kavi Sammelan show ‘Wah Wah’, that first aired on SAB TV in 1998. The subsequent reboot of the show, ‘Wah Wah, Kya Baat Hai!’ aired in 2012, with multiple episodes featuring Harjeet over the course of the year. Harjeet was one of the most popular poets on the show.<br><br>Harjeet has also been a contributing writer for Anubhuti, a hindi poetry website. Harjeet has been awarded with a title of ‘Hasya Samrat’ (King of Comedy) in the year 2001. In 2016, Harjeet was invited to perform in a series of television, radio and stage shows in the United States where he was felicitated by the World Hindi Foundation.</p>
            <a href="https://www.youtube.com/playlist?list=PLxPSlfDT47twgqyoed6pZz-Do9qOqVmPR" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">WATCH HIS POETRY HERE!</a>
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">BUY HIS BOOK HERE!</a>
        </div>
        <div class="col-md-6 col-sm-12 order-md-4">
            <img src="{{ url_for('static', filename = 'img/about/about_wahwah.jpg') }}" alt="" class="img-fluid"> <br><br>
        </div>

    </div>
</div>
</div>
{% endblock %}
