{% set active_page = "about" %}
{% extends "base.html" %}

{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja</a></small>
</div>
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title" href="/">Harjeet Khanduja</a>
{% endblock %}

{% block content %}
<div class="about">
  <div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h2 class="aboutus-title d-sm-none">About Harjeet</h2>
                <br><br>
                <p class="aboutus-text">Harjeet is an International Author, Speaker, Poet, Inventor, Influencer, Visionary Thought Leader, Professor of Practice and an HR Leader committed to improving quality of life for people. He is also known as RK Laxman of Business and HR Mastermind.</p>
                <p class="aboutus-text">Harjeet is passionate about Human Resources and is committed to improving the quality of life of people. He propagates adoption of right HR practices and development of quality leaders across industries. To spread this message, he speaks frequently at conferences and industry events.</p>
                <a href="https://bit.ly/hk_bio" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD BIO</a>
                <a href="https://bit.ly/hkmedia_kit" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD MEDIA KIT</a>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <img class="img-fluid img-set" src="{{ url_for('static', filename = 'img/about/about.jpg') }}" alt="Harjeet Khanduja, The Common Man">
            </div>
        </div>

        <div class="row" id="row-settings1"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Career</h2>
                <p class="aboutus-text">Harjeet embarked on his career journey at Tata Motors, where he swiftly gained recognition from Mr. Ratan Tata for pioneering the first Kaizen Implementation. After 8 successful years, he transitioned to Nicholas Piramal, spearheading the digital transformation of HR. Subsequently, he joined Reliance Retail, playing a pivotal role in its exponential growth from 500 to 28,000 employees as part of the core team.<br><br>In 2009, Harjeet assumed a leadership position at the Conjoin Group (now Atos) and played a key role in expanding the organization from $6 million to $250 million.<br><br>Since 2012, Harjeet has served as the Senior Vice President of Human Resources at Reliance Jio. He assembled the leadership team and laid the foundation for the HR function. His exceptional efforts contributed significantly to the company's remarkable growth, which now boasts approximately 100,000 employees.</p>
                <!-- <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">VIEW HARJEET'S PATENTS</a> -->
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_ted.png') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings2"> 
            <div class="col-md-6 col-sm-12 order-md-4">
                <h2 class="aboutus-title">Education and Skills</h2>
                <p class="aboutus-text">Harjeet is an alumnus of Indian Institute of Technology, Roorkee, where he was awarded the Thomson Medal. He was also the founder of the official campus media body of IIT Roorkee, Watch Out!.</p>
                <p class="aboutus-text">He completed his management education at INSEAD.</p>
                <p class="aboutus-text">Harjeet's acquired skills include Executive Coaching, People strategy, HR technology and Organization design. Harjeet is a certified practitioner of Executive Coaching, OKRs, Design Thinking and Predictive Index.</p>
                <p class="aboutus-text">He has 4 published patents and 2 published papers in top journals.</p>
                <a href="https://scholar.google.com/citations?user=rCBkbuIAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">VIEW HARJEET'S PATENTS</a>
            </div>
            <div class="col-md-6 col-sm-12 order-md-12">
                <img src="{{ url_for('static', filename = 'img/about/about_edu.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row" id="row-settings3"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Awards & Associations</h2>
                <p>Harjeet has been a respected figure in Human Resources. Harjeet has won the Nasscom Diversity Award 3 times in a row for the Conjoin Group, resulting in him becoming the co-chair of NASSCOM Diversity Committee.</p>
                <p>He has been conferred with HR Leadership Award, Pride of Nation Award, HR personality of the year, Global Digital Ambassador, Global Learning Award and Top 200 Global Leadership Voices.</p>
                <p class="aboutus-text">Harjeet has been a LinkedIn Power Profile, Guest Faculty at IIM Ahmedabad, Board Member of Federation of World Academics, Member of CII HR IR committee,  and Co-chair of Nasscom Diversity Committee. He is also an Advisory Board Member of Blogger Alliance, Member of Quality Assurance and Framework Committee (SAARC Rankings) for ICIR and Member of Telecom Sector Skill Council. He is associated with NGOs like Council of Technical Scholars and Anuthi (focused on education of the disabled).</p>
                <!-- <a href="https://www.youtube.com/playlist?list=PLxPSlfDT47twd-rLE9guWKDeFxX0rnfcs" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">WATCH HIS TEDx TALKS HERE!</a> -->
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_amitabh.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row" id="row-settings2"> 
            <div class="col-md-6 col-sm-12 order-md-4">
                <h2 class="aboutus-title">Keynotes</h2>
                <p>Harjeet has delivered several TEDx talks and has spoken at various IIMs and IITs. Harjeet has been keynote speaker in various national and international HR conferences.Harjeet speaks on a variety of topics including HR, Leadership, Technology, Decision Making and Entrepreneurship.</p>
                <p>He conducts Master Classes for Top Management. Harjeet was also featured as top 10 speakers of India by SpeakIn along with Prime Minister Shri Narendra Modi.</p>
                <a href="https://www.youtube.com/playlist?list=PLxPSlfDT47twd-rLE9guWKDeFxX0rnfcs" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">WATCH HIS TEDx TALKS HERE!</a>
            </div>
            <div class="col-md-6 col-sm-12 order-md-12">
                <img src="{{ url_for('static', filename = 'img/about/about_modi.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings4" style="padding-bottom: 0; padding-top: 30px; margin-bottom: 0; background-color: #e0f5ff;"> 
          <div class="col-md-6 col-sm-12 order-md-12">
              <h2 class="aboutus-title">Hasya Kavita</h2>
              <p class="aboutus-text">Harjeet had a keen interest in performing at Hasya Kavi Sammelans and radio shows from an early age. Harjeet performed on television for the first time in 1997 on Doordarshan, under the moniker of Sardar Tuktuk. In 1997, he also won the poetry reality game show, हंसगोला, hosted by Arun Gemini.<br><br>In his early years, he also contributed to various hindi poetry books, such as हंगामा एक्सप्रेस (Hungama Express), हंसता खिलखिलाता हास्य कवि सम्मेलन (Hansta Khilkhilata Hasya Kavi Sammelan), and हास्य कवियों की व्यंग्य बौछार (Hasya Kaviyon ki vyangya bauchhar). He has also been a long-time contributing writer for Anubhuti, a hindi poetry website.</p>
          </div>
          <div class="col-md-6 col-sm-12 order-md-4">
              <img src="{{ url_for('static', filename = 'img/about/about_iit.jpg') }}" alt="Harjeet at IIT Roorkee Hindi Diwas, 1993" class="img-fluid">
          </div>
      </div>
      <div class="row" id="row-settings4" style="padding-top: 0; background-color: #e0f5ff;"> 
        <div class="col-md-6 col-sm-12 order-md-4">
            <br><br>
            <p class="aboutus-text">He was a part of multiple episodes of the famous Hasya Kavi Sammelan show ‘Wah Wah’, that first aired on SAB TV in 1998. The subsequent reboot of the show, ‘Wah Wah, Kya Baat Hai!’ aired in 2012, with multiple episodes featuring Harjeet over the course of the year. Harjeet was one of the most popular poets on the show.<br><br>Harjeet has also been a contributing writer for Anubhuti, a hindi poetry website. Harjeet has been awarded with a title of ‘Hasya Samrat’ (King of Comedy) in the year 2001. In 2016, Harjeet was invited to perform in a series of television, radio and stage shows in the United States where he was felicitated by the World Hindi Foundation. Harjeet was given Vishwa Hindi Jyoti Bhushan Samman in 2020.</p>
            <a href="https://www.youtube.com/playlist?list=PLxPSlfDT47twgqyoed6pZz-Do9qOqVmPR" target="_blank" rel="noopener noreferrer" class="btn btn-dark" style="font-size: 16px;">WATCH HIS POETRY HERE!</a>
        </div>
        <div class="col-md-6 col-sm-12 order-md-12">
            <img src="{{ url_for('static', filename = 'img/about/about_wahwah.jpg') }}" alt="" class="img-fluid"> <br><br>
        </div>
      </div>
      <br>
      <div class="row" id="row-settings2"> 
        <div class="col-md-6 col-sm-12 order-md-12">
            <h2 class="aboutus-title">Books</h2>
            <p>He has written 7 business books on the subject of Human Resources and Leadership. He is a contributing author to various books. He writes a column “The H with HR” for Human Capital and Alag Hai for People First HR Magazine. He is a contributing writer for several magazines including People Matters, Business Manager, SightsinPlus, Education Post, Human Factor, IT Next, and People and Management. He got featured in “Heroes Amongst Us”, an inspirational book by Dr. Amit Nagpal, depicting real life stories of ordinary people who achieved extraordinary success.</p>
        </div>
        <div class="col-md-6 col-sm-12 order-md-4">
            <img src="{{ url_for('static', filename = 'img/about/about_book.jpg') }}" alt="" class="img-fluid">
        </div>
    </div>
       
</div>
</div>
{% endblock %}
