{% set active_page = "leaders" %}
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_book.css') }}">
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title" href="/">Harjeet Khanduja</a>
{% endblock %}

{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja.</a></small>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0">
    <div class="row" style="background-color: #ffffff;">
        <div class="col-md-8 mx-auto">
            <div class="col-md-6 mx-auto">
                <img src="{{ url_for('static', filename='img/ldb/mockup1.png') }}" alt="Cover for Leaders Decisions and Biases" class="img-fluid mx-auto">
            </div>
            <div class="subheadline mb-4 p-3" style="text-align: justify">
                <strong>Leaders Decisions and Biases</strong> is written for corporate decision makers and aspiring management students who are planning to start their careers as decision makers. The book addresses the fundamental questions and the practical problems of organization decision making. The author Harjeet Khanduja, famously known as the <em>RK Laxman of Business</em>, has summed up his rich experience of 25 years and the research of the best in the world to answer typical questions that each decision maker has at one point or another. The book explains 120 concepts of decision making with 250 real life examples from more than 160 organizations. 
            </div>
            <br>
            <div class="d-flex mx-auto">
                <a target="_blank" rel="noopener noreferrer" href="https://amzn.eu/d/dmEk82J" style="text-align:center; font-size: large;" class="btn btn-dark text-center mx-auto">BUY THE BOOK NOW!</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid" style="background-color: #8b9d36">
        <div class="row" style="color: white;">
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename='img/ldb/mockup2.png') }}" style="width: 80%;" alt="Cover for How Leaders Decide" class="img-fluid mx-auto d-flex">
            </div>
            <div class="col-md-6 col-sm-12 my-auto pr-md-5">
                <h1 class="section-heading subheadline mb-4" style="font: Lato"><strong>Why this book?</strong></h1>
                <p style="font-family: Lato; text-align: justify; padding-right: 5em;">
                    Leaders Decisions and Biases is the most comprehensive book on decision making in organization context. It guides decision makers assess their decision making styles and recommends adjusting them to advance in their careers. It also provides frameworks to set the right decision making environment for a decision driven organization by incorporating key decision elements like trust, ethics, creativity, diversity, inclusion and work life balance. The book helps in recognizing and managing organization specific cognitive biases including unintelligent passion, comfort zone bias, authority bias, conformity bias, indecision and many more. 
                </p>
            </div>    
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YHW7xCz7hPM" title="YouTube Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

{% endblock %}

