{% set active_page = "storytelling_leader" %}
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_book.css') }}">
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title" href="/">Harjeet Khanduja</a>
{% endblock %}

{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja.</a></small>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0">
    <div class="row" style="background-color: #ffffff;">
        <div class="col-md-8 mx-auto">
            <img src="{{ url_for('static', filename='img/storytelling.png') }}" alt="Cover for Storytelling Leader" class="img-fluid mx-auto d-flex">
            <br>
            <br>
            <div class="subheadline mb-4 p-5" style="text-align: center">
                <p style="font-size: large;"><strong>The Storytelling Leader</strong> is a book for the person looking for business stories. These business stories can be used in dayto-day situations for putting across the point to customers, colleagues and team members. The stories are sharp and short anecdotes of daily life which make business sense. This collection has the most loved stories of Harjeet Khanduja on LinkedIn. These stories are read 10 million+ times and have million+ likes on LinkedIn. They are both easy on the eyes and on the mind.
                </p><div>
            <br>
            <div class="d-flex mx-auto">
                <a target="_blank" rel="noopener noreferrer" href="https://amzn.eu/d/dceUkX3" style="text-align:center; font-size: large;" class="btn btn-dark text-center mx-auto">BUY NOW</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid" style="background-color: #937d69;">
        <div class="row" style="color: white;">
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename='img/storytelling 2.png') }}" style="width: 80%;" alt="Cover for How Leaders Decide" class="img-fluid mx-auto d-flex">
            </div>
            <div class="col-md-6 col-sm-12 my-auto pr-md-5">
                <h1 class="section-heading subheadline mb-4" style="font: Lato"><strong>Why this book?</strong></h1>
                <p style="font-family: Lato; text-align: justify; padding-right: 5em;">
                    Curated from the highly acclaimed works of Harjeet Khanduja, these stories have garnered immense popularity on LinkedIn, with over 10 million reads and millions of likes. Each narrative is carefully crafted to be both visually engaging and intellectually stimulating, making them not only easy to digest but also profoundly impactful.
                </p>
            </div>    
        </div>
    </div>
</div>

{% endblock %}

