{% set active_page = "tuktuk" %}
{% extends "base.html" %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tuktuk.css') }}"> -->
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title bro" href="/"><span>Harjeet Khanduja</span></a>
{% endblock %}
{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja.</a></small>
    <small class="copyright" style="color: white;">Illustration by Hunaid Nagaria.</small>
</div>
{% endblock %}

{% block content %}
{% endblock %}
