{% set active_page = "about" %}
{% extends "base.html" %}

{% block footer %}
<div class="footer-bottom text-center py-5">
	<small class="copyright" style="color: white;">Designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link"  style="color: white;" href="https://www.behance.net/amanbeer899" target="_blank" rel="noopener noreferrer">Amanbeer Khanduja</a></small>
</div>
{% endblock %}

{% block brand %}
<a class="navbar-brand brand-title" href="index.html">Harjeet Khanduja</a>
{% endblock %}

{% block content %}
<div class="about">
  <div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h2 class="aboutus-title d-sm-none">About Harjeet</h2>
                <br><br>
                <p class="aboutus-text">Harjeet is an International Speaker, Writer, Poet, Visionary, Influencer and a HR Leader.</p>
                <p class="aboutus-text">Harjeet is a celebrity HR Leader. He has set multiple green field projects and has handled HR for large multinational organizations in various geographies including India, US & Canada.</p>
                <p class="aboutus-text">Harjeet’s experience spans a range of industry sectors that include Automotive, Manufacturing, Pharma, Alternate Energy, IT-ITES, Telecom, Digital, Healthcare and Retail and has worked with Business Houses like Tata, Reliance and Piramal. He is currently working as Vice President HR at Reliance Jio.</p>
                <a href="https://bit.ly/hk_bio" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD BIO</a>
                <a href="https://bit.ly/hkmedia_kit" target="_blank" rel="noopener noreferrer" class="btn btn-dark">DOWNLOAD MEDIA KIT</a>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <img class="img-fluid img-set" src="{{ url_for('static', filename = 'img/about/about_title.jpg') }}" alt="Harjeet Khanduja, The Common Man">
            </div>
        </div>

        <div class="row" id="row-settings1"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Career & Education</h2>
                <p class="aboutus-text">Harjeet is a Thomson Medalist from IIT Roorkee and has completed his management education from INSEAD. Harjeet's acquired skills are in the area of people psychology, technology, organization design, people strategy, problem solving and writing.<br><br>Harjeet is a certified practitioner of SAP HCM, Six Sigma, Executive Coaching, OKRs, Design Thinking, Predictive Index, Tata Business Excellence Model, ISO 9000, ISO 27000, Insights wheel, HIPAA, Value Engineering, Kaizen and 5S.</p>
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_title.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings2"> 
            <div class="col-md-6 col-sm-12 order-md-4">
                <h2 class="aboutus-title">Awards & Recognition</h2>
                <p class="aboutus-text">Harjeet has been conferred with HR Leadership Award, Pride of Nation Award, HR personality of the year.</p>
                <p class="aboutus-text">He is a LinkedIn Power Profile, Global Digital Ambassador, Global Learning Award, Top 100 HR Minds and Top 50 HR Tech Leaders.</p>
                <p class="aboutus-text">He has also filed 3 patents in the area of HR Technology.</p>
                <p class="aboutus-text">Apart from personal recognition, Harjeet has earned several awards for the organizations that he has worked with.</p>
            </div>
            <div class="col-md-6 col-sm-12 order-md-12">
                <img src="{{ url_for('static', filename = 'img/about/about_amitabh.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row" id="row-settings3"> 
            <div class="col-md-6 col-sm-12 order-md-12">
                <h2 class="aboutus-title">Keynotes & Associations</h2>
                <p class="aboutus-text">Harjeet has delivered several TEDx talks and has spoken at various IIMs and IITs. Harjeet has been keynote speaker in various national and international HR conferences.</p>
                <p class="aboutus-text">Harjeet speaks on variety of topics including HR, Leadership, Technology, Economics and Entrepreneurship.</p>
                <p class="aboutus-text">He conducts master classes for top Management and Engineering colleges including IITs and IIMs.</p>
                <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-dark">WATCH HIS TEDx TALKS HERE!</a>
            </div>
            <div class="col-md-6 col-sm-12 order-md-4">
                <img src="{{ url_for('static', filename = 'img/about/about_ted.png') }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row" id="row-settings4" style="padding-bottom: 0; padding-top: 30px; margin-bottom: 0; background-color: #e0f5ff;"> 
          <div class="col-md-6 col-sm-12 order-md-4">
              <h2 class="aboutus-title">Hasya Kavita</h2>
              <p class="aboutus-text">Harjeet had a keen interest in performing at Hasya Kavi Sammelans and radio shows from an early age. Harjeet performed on television for the first time in 1997 on Doordarshan, followed by several appearances as a hindi poet on SAB TV and NDTV, notably as a performer on SAB TV show ‘Wah Wah’ and its subsequent reboot ‘Wah Wah Kya Baat Hai’ under the moniker ‘Sardar Tuktuk’. Harjeet has been a contributing author in various poetry books including हंगामा एक्सप्रेस, हंसता खिलखिलाता हास्य कवि सम्मेलन, and हास्य कवियों की व्यंग्य बौछार.</p>
          </div>
          <div class="col-md-6 col-sm-12 order-md-12">
              <img src="{{ url_for('static', filename = 'img/about/about_iit.jpg') }}" alt="Harjeet at IIT Roorkee Hindi Diwas, 1993" class="img-fluid">
          </div>
      </div>
      <div class="row" id="row-settings4" style="padding-top: 0; background-color: #e0f5ff;"> 
        <div class="col-md-6 col-sm-12 order-md-12">
            <br><br>
            <p class="aboutus-text">Harjeet has also been a contributing writer for <a href="http://www.anubhuti-hindi.org/sankalan/naya_saal/sets/2008/abhinanadan_2004.htm" target="_blank" rel="noopener noreferrer" class="aboutus-text">Anubhuti</a>, a hindi poetry website. Harjeet has been awarded with a title of Hasya Samrat. In 2016, Harjeet was invited to perform in a series of television, radio and stage shows in the United States where he was felicitated by the World Hindi Foundation.</p>
        </div>
        <div class="col-md-6 col-sm-12 order-md-4">
            <img src="{{ url_for('static', filename = 'img/about/about_wahwah.jpg') }}" alt="" class="img-fluid"> <br><br>
        </div>

    </div>
</div>
</div>
{% endblock %}