{% set active_page = "book" %}
{% extends "base.html" %}

{% block brand %}
<a class="navbar-brand brand-title" href="/">Harjeet Khanduja</a>
{% endblock %}

{% block footer %}
<div class="footer-bottom text-center py-1 pb-5">
	<small class="copyright" style="color: white;">Template designed with <i class="fas fa-heart" style="color: white;"></i>  by <a class="theme-link" style="color: white;" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
</div>
{% endblock %}

{% block content %}
<div class="book">
	<section class="hero-section">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
				    <div class="promo pr-md-3 pr-lg-5">
					    <h1 class="headline mb-3">
						    Nothing About Business   
					    </h1><!--//headline-->
					    <div class="subheadline mb-4">
							<strong>Nothing About Business</strong> is a book for the person looking for a simple, gyan-free way to understand the nuances of business, life and leadership that only experience can teach you. That is, until now. Featuring Harjeet Khanduja's best and most loved LinkedIn stories in a collection that's both easy on the eyes, and on the mind.
					    </div><!--//subheading-->
					    
					    <div class="cta-holder">
						    <a class="btn btn-dark mr-lg-2" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">BUY NOW</a>
						    <a class="btn btn-secondary mr-lg-2" href="#audience-section">LEARN MORE</a>
						</div><!--//cta-holder-->
				    </div><!--//promo-->
			    </div><!--col-->
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <div class="book-cover-holder">
					    <img class="img-fluid book-cover" src=" {{ url_for('static', filename = 'img/nab.png') }} " alt="nothing about business" >
				    </div><!--//book-cover-holder-->
			    </div><!--col-->
		    </div><!--//row-->
	    </div><!--//container-->
	</section><!--//hero-section-->

    <section id="audience-section" class="audience-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center mb-4">Who This Book Is For</h2>
		    <div class="subheadline single-col-max mx-auto text-center mb-5">
			    This is a simple book of stories that can be read by anyone. However, this book has professional benefits for people like the following.
		    </div>
		    <div class="audience mx-auto">
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Working Professionals</h4>
					    <div class="item-desc">Can't figure out why your boss is mad at you? This book will probably help.</div>
				    </div>
			    </div>
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">People Managers</h4>
					    <div class="item-desc">If you want to learn HR concepts in a fun way, this is exactly the book for you.</div>
				    </div>
			    </div>
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Management Students</h4>
					    <div class="item-desc">So you're going for the interview of that company that you really want to get hired for. Here's a crash course into your interviewer's mind.</div>
				    </div>
			    </div>
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Startup Enthusiasts</h4>
					    <div class="item-desc">You might not need an HR guy for your company yet, but you do need HR practices to survive. This book has that and more, packed into one-page stories.</div>
				    </div>
			    </div>
		    </div>
	    </div>
    </section>
	
	


    <section id="form-section" class="form-section">
	    <div class="container">
		    <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
			    <h2 class="form-heading text-center">Get A Free Preview</h2>
			    <div class="form-intro text-center mb-3">Enter your email below to get a free preview of the book!<br></div>
			    <div class="form-wrapper">
				    <form class="form-inline justify-content-center flex-wrap" method="POST" novalidate action="">
						{{ form.hidden_tag() }}
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<p>
								{{form.emails(class='form-control')}}
							</p>
						</div>
						<p>{{ form.submit(class='btn btn-dark btn-submit mb-3 mb-md-0') }}</p>
					</form>
			    </div>
		    </div>
	    </div>
	</section>

    <section id="reviews-section" class="reviews-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center">Book Reviews</h2>
		    <div class="h5 text-center single-col-max mx-auto mb-5" style="font-family: 'Lato'; color: black">What our readers have to say!</div>
		    <div class="row justify-content-center">
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Nothing about Business, Everything about life. These are like zen nuggets. They say so much with brevity. They allow us to locate missing magic around us."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src=" {{ url_for('static', filename = 'img/profiles/nsrajan.jpeg') }} " alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Ashish Vidyarthi</div>
						        <div class="soure-title">Actor, Avid Miner</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light p-4">
					    <blockquote class="quote">
					        "This book is simple yet profound. Loved the simple yet powerful stories."<br><br>
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="{{ url_for('static', filename = 'img/profiles/rkpillai.jpeg') }}" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Dr.Radhakrishnan Pillai</div>
						        <div class="soure-title">Deputy Director, Chanakya International Institute of Leadership Studies</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "The book is simple to read, absolutely and refreshingly relatable and I can imagine picking it up everyday, opening to any page and within a minute be left with a life lesson."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="{{ url_for('static', filename = 'img/profiles/warikoo.jpg') }}" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Ankur Warikoo</div>
						        <div class="soure-title">Entrepreneur, Public Speaker, Coach</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "I liked 'Nothing about Business' because it is simple storytelling. It is not complex Gyan. It’s a fun read, yet unlike anything I’ve read before." <br><br>    
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-4.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Abey Kuruvilla</div>
						        <div class="soure-title">Indian Cricketer</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "I have always believed that story is the most powerful way to communicate a concept or an insight. I would strongly recommend the book to everyone as anyone can relate to the stories and the insights they contain."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-5.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">TN Hari</div>
						        <div class="soure-title">HR Head, Big Basket</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
				</div><!--//item-->
				<div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Corporate life has a rhythm of its own. ‘Nothing about Business' deciphers the beats and extracts the music, making it much more enjoyable in the re-run than even the original moments. The book is a great read for anyone looking to understand management lessons in a fun way."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src=" {{ url_for('static', filename = 'img/profiles/nsrajan.jpeg') }} " alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Nidhi Raina</div>
						        <div class="soure-title">CEO, Quoncious</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
				</div><!--//item-->
				<div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Through real life stories, Harjeet presents bite sized capsules, shuns the superfluous and draws us within. An interesting read with perspectives that will surely resonate."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src=" {{ url_for('static', filename = 'img/profiles/nsrajan.jpeg') }} " alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">N S Rajan</div>
						        <div class="soure-title">Former Group CHRO at Tata Sons</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
				</div><!--//item-->
				<div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Humour, simplicity and direct to the point, three things that got me hooked."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src=" {{ url_for('static', filename = 'img/profiles/nsrajan.jpeg') }} " alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Brillian</div>
						        <div class="soure-title">SVP, HR Times Professional Learning</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
	</section><!--//reviews-section-->    

	<section id="buy-section">
		<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
			<div class="my-class" style="background-color: #551c1c;">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4 mb-5 align-self-center">
								<img class="img-fluid book-cover" src=" {{ url_for('static', filename = 'img/nab_buy.png') }} " alt="nothing about business" >
						</div>
						<div class="col-12 col-md-5 mb-5 align-self-center pl-5">
							<h2 style="color: white;" class="headline mb-4">What are you waiting for?</h1>
							<a class="btn btn-secondary" style="font-size: 18px; border-color: white; color: white; background-color: #551c1c!important;" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">BUY IT NOW!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
{% endblock %}